In [1]:
import numpy as np
import pandas as pd
diamond = pd.read_csv('data/Diamonds.csv')
diamond.head()

   carat color  depth  price
0   0.23     E   61.5    326
1   0.21     E   59.8    326
2   0.23     E   56.9    327
3   0.29     I   62.4    334
4   0.31     J   63.3    335

In [2]:
diamond.shape

(53940, 4)

In [3]:
diamond.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   carat   53940 non-null  float64
 1   color   53940 non-null  object
 2   depth   53940 non-null  float64
 3   price   53940 non-null  int64
dtypes: float64(2), int64(1), object(1)
memory usage: 1.6+ MB

#### (a) 在所有重量超过1克拉的钻石中，价格的极差是多少

In [4]:
diamond.query('carat>1')['price'].max() - diamond.query('carat>1')['price'].min()

17561

#### (b) 若以开采深度的0.2\0.4\0.6\0.8分位数为分组依据，每一组中钻石颜色最多的是哪一种？该种颜色是组内平均而言单位重量最贵的吗？

In [5]:
bins = diamond['depth'].quantile(np.arange(0,1.1,0.2)).tolist()

In [6]:
depth_cut = pd.cut(diamond['depth'],bins)

In [7]:
diamond.groupby(depth_cut)['color'].value_counts()

depth         color
(43.0, 60.8]  E        2259
              G        2258
              F        2060
              H        1597
              D        1519
              I        1063
              J         538
(60.8, 61.6]  G        2593
              F        2184
              E        2175
              H        1783
              D        1526
              I        1052
              J         518
(61.6, 62.1]  G        2247
              E        1895
              F        1876
              H        1559
              D        1233
              I        1068
              J         525
(62.1, 62.7]  G        2193
              F        1763
              H        1652
              E        1641
              D        1202
              I        1095
              J         591
(62.7, 79.0]  G        2000
              E        1827
              H        1713
              F        1659
              D        1295
              I        1144
              J         635
Name: color, dtype: int64

(c) 以重量分组(0-0.5,0.5-1,1-1.5,1.5-2,2+)，按递增的深度为索引排序，求每组中连续的严格递增价格序列长度的最大值。

In [8]:
diamond_reindex = diamond.set_index('depth').sort_index()

In [9]:
bins = [0,0.5,1,1.5,2,np.inf]

In [10]:
carat_cut = pd.cut(diamond_reindex['carat'],bins)

In [11]:
diamond_reindex.groupby(carat_cut)['price'].value_counts()

carat       price
(0.0, 0.5]  605      132
            802      127
            625      126
            828      125
            776      124
                    ...
(2.0, inf]  18791      1
            18795      1
            18797      1
            18804      1
            18823      1
Name: price, Length: 15036, dtype: int64

【练习二】：有一份关于美国10年至17年的非法药物数据集，列分别记录了年份、州（5个）、县、药物类型、报告数量，请解决下列问题：

In [12]:
drugs = pd.read_csv("data/Drugs.csv")

In [13]:
drugs.head()

   YYYY State           COUNTY  SubstanceName  DrugReports
0  2010    VA         ACCOMACK   Propoxyphene            1
1  2010    OH            ADAMS       Morphine            9
2  2010    PA            ADAMS      Methadone            2
3  2010    VA  ALEXANDRIA CITY         Heroin            5
4  2010    PA        ALLEGHENY  Hydromorphone            5

In [14]:
drugs.shape

(24062, 5)

In [15]:
drugs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24062 entries, 0 to 24061
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   YYYY           24062 non-null  int64
 1   State          24062 non-null  object
 2   COUNTY         24062 non-null  object
 3   SubstanceName  24062 non-null  object
 4   DrugReports    24062 non-null  int64
dtypes: int64(2), object(3)
memory usage: 940.0+ KB

#### (a) 按照年份统计，哪个县的报告数量最多？这个县所属的州在当年也是报告数最多的吗？

In [16]:
drugs.groupby('YYYY')['COUNTY'].value_counts()

YYYY  COUNTY
2010  WARREN               39
      FRANKLIN             38
      MONTGOMERY           37
      JEFFERSON            34
      WASHINGTON           33
                           ..
2017  STAUNTON CITY         1
      SULLIVAN              1
      WETZEL                1
      WILLIAMS              1
      WILLIAMSBURG CITY     1
Name: COUNTY, Length: 2699, dtype: int64