# Python基础练习解答

#### 【练习一】 现有一份关于美剧《权力的游戏》剧本的数据集，请解决以下问题：
#### （a）在所有的数据中，一共出现了多少人物？

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"F:\数据分析\Datawhale_Pandas\joyful-pandas-master\data\Game_of_Thrones_Script.csv")
df.head()

,Release Date,Season,Episode,Episode Title,Name,Sentence
0,2011/4/17,Season 1,Episode 1,Winter is Coming,waymar royce,What do you expect? They're savages. One lot s...
1,2011/4/17,Season 1,Episode 1,Winter is Coming,will,I've never seen wildlings do a thing like this...
2,2011/4/17,Season 1,Episode 1,Winter is Coming,waymar royce,How close did you get?
3,2011/4/17,Season 1,Episode 1,Winter is Coming,will,Close as any man would.
4,2011/4/17,Season 1,Episode 1,Winter is Coming,gared,We should head back to the wall.

In [3]:
df.shape

(23911, 6)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23911 entries, 0 to 23910
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Release Date   23911 non-null  object
 1   Season         23911 non-null  object
 2   Episode        23911 non-null  object
 3   Episode Title  23911 non-null  object
 4   Name           23911 non-null  object
 5   Sentence       23911 non-null  object
dtypes: object(6)
memory usage: 1.1+ MB

In [5]:
df['Name'].nunique()

564


#### （b）以单元格计数（即简单把一个单元格视作一句），谁说了最多的话？

In [6]:
df['Name'].value_counts().idxmax()

'tyrion lannister'

#### （c）以单词计数，谁说了最多的单词？

In [7]:
length = df['Sentence'].apply(lambda x:len(x))

In [8]:
df_length = df.assign(Sentence_Length=length)

In [9]:
df_length.head()

,Release Date,Season,Episode,Episode Title,Name,Sentence,Sentence_Length
0,2011/4/17,Season 1,Episode 1,Winter is Coming,waymar royce,What do you expect? They're savages. One lot s...,137
1,2011/4/17,Season 1,Episode 1,Winter is Coming,will,I've never seen wildlings do a thing like this...,103
2,2011/4/17,Season 1,Episode 1,Winter is Coming,waymar royce,How close did you get?,22
3,2011/4/17,Season 1,Episode 1,Winter is Coming,will,Close as any man would.,23
4,2011/4/17,Season 1,Episode 1,Winter is Coming,gared,We should head back to the wall.,32

In [13]:
df_length = df_length.set_index("Name")

In [15]:
df_length["Sentence_Length"].idxmax()

'talisa'

【练习二】现有一份关于科比的投篮数据集，请解决如下问题：

（a）哪种action_type和combined_shot_type的组合是最多的？

In [16]:
df = pd.read_csv(r"F:\数据分析\Datawhale_Pandas\joyful-pandas-master\data\Kobe_data.csv",index_col='shot_id')
df.head()

,action_type,combined_shot_type,game_event_id,game_id,lat,loc_x,loc_y,lon,minutes_remaining,period,...,shot_made_flag,shot_type,shot_zone_area,shot_zone_basic,shot_zone_range,team_id,team_name,game_date,matchup,opponent
shot_id,,,,,,,,,,,,,,,,,,,,,
1,Jump Shot,Jump Shot,10,20000012,33.9723,167,72,-118.1028,10,1,...,NaN,2PT Field Goal,Right Side(R),Mid-Range,16-24 ft.,1610612747,Los Angeles Lakers,2000/10/31,LAL @ POR,POR
2,Jump Shot,Jump Shot,12,20000012,34.0443,-157,0,-118.4268,10,1,...,0.0,2PT Field Goal,Left Side(L),Mid-Range,8-16 ft.,1610612747,Los Angeles Lakers,2000/10/31,LAL @ POR,POR
3,Jump Shot,Jump Shot,35,20000012,33.9093,-101,135,-118.3708,7,1,...,1.0,2PT Field Goal,Left Side Center(LC),Mid-Range,16-24 ft.,1610612747,Los Angeles Lakers,2000/10/31,LAL @ POR,POR
4,Jump Shot,Jump Shot,43,20000012,33.8693,138,175,-118.1318,6,1,...,0.0,2PT Field Goal,Right Side Center(RC),Mid-Range,16-24 ft.,1610612747,Los Angeles Lakers,2000/10/31,LAL @ POR,POR
5,Driving Dunk Shot,Dunk,155,20000012,34.0443,0,0,-118.2698,6,2,...,1.0,2PT Field Goal,Center(C),Restricted Area,Less Than 8 ft.,1610612747,Los Angeles Lakers,2000/10/31,LAL @ POR,POR

In [18]:
df.shape

(30697, 24)

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30697 entries, 1 to 30697
Data columns (total 24 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   action_type         30697 non-null  object
 1   combined_shot_type  30697 non-null  object
 2   game_event_id       30697 non-null  int64
 3   game_id             30697 non-null  int64
 4   lat                 30697 non-null  float64
 5   loc_x               30697 non-null  int64
 6   loc_y               30697 non-null  int64
 7   lon                 30697 non-null  float64
 8   minutes_remaining   30697 non-null  int64
 9   period              30697 non-null  int64
 10  playoffs            30697 non-null  int64
 11  season              30697 non-null  object
 12  seconds_remaining   30697 non-null  int64
 13  shot_distance       30697 non-null  int64
 14  shot_made_flag      25697 non-null  float64
 15  shot_type           30697 non-null  object
 16  shot_zone_area      30697 non-null  object
 17  shot_zone_basic     30697 non-null  object
 18  shot_zone_range     30697 non-null  object
 19  team_id             30697 non-null  int64
 20  team_name           30697 non-null  object
 21  game_date           30697 non-null  object
 22  matchup             30697 non-null  object
 23  opponent            30697 non-null  object
dtypes: float64(3), int64(10), object(11)
memory usage: 7.1+ MB

In [20]:
s = df["action_type"]+" "+df["combined_shot_type"]

In [21]:
s.value_counts().head()

Jump Shot Jump Shot               18880
Layup Shot Layup                   2567
Driving Layup Shot Layup           1978
Turnaround Jump Shot Jump Shot     1057
Fadeaway Jump Shot Jump Shot       1048
dtype: int64

#### （b）在所有被记录的game_id中，遭遇到最多的opponent是一个支？

In [38]:
df['game_id'].value_counts()

21501228    50
20200069    47
20500591    46
20600431    45
20700553    44
            ..
29600284     1
29700933     1
29600027     1
29600813     1
29600412     1
Name: game_id, Length: 1559, dtype: int64