2. 练习

【练习一】 现有一份关于UFO的数据集，请解决下列问题

（a）在所有被观测时间超过60s的时间中，哪个形状最多？

In [1]:
import numpy as np
import pandas as pd
UFO = pd.read_csv('data/UFO.csv')
UFO.head()

           datetime     shape  duration (seconds)   latitude   longitude
0  10/10/1949 20:30  cylinder              2700.0  29.883056  -97.941111
1  10/10/1949 21:00     light              7200.0  29.384210  -98.581082
2  10/10/1955 17:00    circle                20.0  53.200000   -2.916667
3  10/10/1956 21:00    circle                20.0  28.978333  -96.645833
4  10/10/1960 20:00     light               900.0  21.418056 -157.803611

In [2]:
UFO.shape

(80332, 5)

In [3]:
UF0_gt_60 = UFO[ UFO['duration (seconds)'].gt(60)]

In [4]:
UF0_gt_60['shape'].value_counts().idxmax()

'light'

（b）对经纬度进行划分：-180°至180°以30°为一个经度划分，-90°至90°以18°为一个维度划分，请问哪个区域中报告的UFO事件数量最多？

In [5]:
UFO.head()

           datetime     shape  duration (seconds)   latitude   longitude
0  10/10/1949 20:30  cylinder              2700.0  29.883056  -97.941111
1  10/10/1949 21:00     light              7200.0  29.384210  -98.581082
2  10/10/1955 17:00    circle                20.0  53.200000   -2.916667
3  10/10/1956 21:00    circle                20.0  28.978333  -96.645833
4  10/10/1960 20:00     light               900.0  21.418056 -157.803611

In [6]:
lat_range = pd.interval_range(start=-180,end=180,freq=30)

In [7]:
long_range = pd.interval_range(start=-90,end=90,freq=18)

In [8]:
lat_cut = pd.cut(UFO['latitude'],bins=lat_range)
long_cut = pd.cut(UFO['longitude'],bins=long_range)

【练习二】 现有一份关于口袋妖怪的数据集，请解决下列问题：

（a）双属性的Pokemon占总体比例的多少？

In [9]:
Pokemon = pd.read_csv('data/Pokemon.csv')
Pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [10]:
s = ~ (( Pokemon['Type 1'].isna()) | (Pokemon['Type 2'].isna()))

In [11]:
format( s.mean(),'.2%')

'51.75%'

在所有种族值（Total）不小于580的Pokemon中，非神兽（Legendary=False）的比例为多少？

In [12]:
format(( Pokemon.query('Total>=580')['Legendary'] == False ).mean(),".2%")

'42.48%'

c）在第一属性为格斗系（Fighting）的Pokemon中，物攻排名前三高的是哪些？

In [13]:
Pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [14]:
Pokemon = Pokemon.set_index('Name')

In [15]:
Pokemon[Pokemon['Type 1']=='Fighting'].sort_values('Attack',ascending=False)['Attack'].head(3)

Name
LucarioMega Lucario    145
Conkeldurr             140
Machamp                130
Name: Attack, dtype: int64

（d）请问六项种族指标（HP、物攻、特攻、物防、特防、速度）极差的均值最大的是哪个属性（只考虑第一属性，且均值是对属性而言）？

（e）哪个属性（只考虑第一属性）神兽占总Pokemon的比例最高？该属性神兽的种族值也是最高的吗？¶

In [17]:
Pokemon.set_index('Type 1').index.value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Rock         44
Electric     44
Ground       32
Ghost        32
Dragon       32
Dark         31
Poison       28
Fighting     27
Steel        27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64